.fifthBg{
    background-color: black; 
    height:60vh;
   position:relative;
   padding:100px;
   border-top:5px solid rgb(40, 39, 39);
   border-bottom: 5px solid rgb(40, 39, 39);
}
.fifthLeft{
    width:50%;
    position:absolute;
    top: 40px;
    margin: right 100px;
}
.fifthRight{
    flex: 1;
    width:40%;
    margin-left: 48%;
    position:absolute;
    top: 150px;
}
.fifthRight h1{
color:#fff;
font-size: 40px;
font-weight: 900;
}
.fifthRight h3{
    color:#fff;
    font-size: 25px;
    font-weight: 350;
    }