.FourthBg{
    background-color: black; 
    height:60vh;
   position:relative;
   padding:100px;
   border-top:5px solid rgb(40, 39, 39);
   border-bottom: 5px solid rgb(40, 39, 39);

}
.FourthRight{
    flex: 1;
    margin-left: 20%;
}

.FourthRight img{
    position: absolute;
    left:750px;
    top:120px;
    width:650px;
}
.gif img{
    position: absolute;
    left:860px;
    top:160px;
    width: 410px;
    height:250px;
}
.FourthLeft{
    color:white;
    position: absolute;
    top:180px;
    width:600px;
    padding-left:50px;
}
.FourthLeft h1{
    font-weight: 200px;
    font-size:50px;
    line-height: 60px;
}
.FourthLeft h3{
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 20px;
    font-size:25px
}