.QuestionBg{
    background-color: black; 
    height:60vh;
   position:relative;
   padding:100px;
   border-top:5px solid rgb(40, 39, 39);
   border-bottom: 5px solid rgb(40, 39, 39);
}
.QuestionBg h1{
    color:white;
    font-weight: 900;
    font-size: 40px;
    position: absolute;
    left:450px;
    top:10px;
}