:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
}
.bg{
  background-image: radial-gradient(rgba(38, 37, 37, 0.8) 5%, rgba(11, 9, 9, 0.793) 70%, rgba(19, 19, 19, 0.416) 100%), url("C:\Users\91822\Desktop\NETFLIX\netflix\frontend\src\images\netflix-fp.jpg"); 
  height: 100vh;
  width:100%;
}
#logo{
  width:150px;
  position:absolute;
  top:6px;
}
.header-content {
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-top: 100px;
  font-weight:500;
  font-size: 20px;
  margin-left:5px;
  width: 1000px;
  
}

.header-content h1 {
  color: #ffffff;
  font-size: 52px;
    font-weight: 800;
  max-width: 100%;
  line-height: 40px;
}

.header-content h3 {
  color: #ffffff;
  font-weight: 450;
  margin-bottom: 20px;
  font-size:20px
}

#box
{
  height:48px;
  width:300px;
  color:rgb(252, 251, 251);
  background-color: rgba(70, 94, 139, 0.271);
  border: 0.5px solid rgb(117, 116, 116);
  margin-right:20px;
  margin-left: 15px;
  border-radius: 5px;
}
#box input{
  color:white;
}

#getStartBtn
{
background-color: rgb(212, 4, 4);
height:48px;
width:150px;
 border-radius:5px;
 font-size:18px;
 font-weight: bold;
 color:white;
 border:none;
}